:root{
  --font-family: 'Manrope', sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #29BAF1;
  --black-color: #030303;
  --lightgray-color: #e4e4e4;
  --gray-color: #676a70;
  --white-color: #ffffff;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}